.label{
    display: flex;
    flex-direction: column;
}
.input{
    margin-top: 5px;
    width: 150px;
    border: 1px solid gainsboro;
    border-radius: 2px;
}
.input:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}